{% extends 'base.html' %}

{% block content %}

    <h4>Items</h4>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.type}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date_added}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}